/* ================================= 
  Photo Overlay Transitions
==================================== */

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

/* ================================= 
  Button Transitions
==================================== */



/* ================================= 
  Image Transforms & Transitions
==================================== */

/* -- Row 1 --------- */

img {
	transition: transform .5s;
	filter: blur(25px);

}


img:hover {
	transform: translate(50%);
}

/* -- Row 2 --------- */

.photo img {
	transform-origin: 0 0;
}

.photo:hover img {
	transform: scale(1.2);
}

/* -- Row 3 --------- */

.slide .photo-overlay,
.slide img {
	transition: transform .3s ease-out;
}

.slide .photo-overlay {
	transform: translateX(-100%);
}

.slide:hover .photo-overlay {
	transform: translateX(0);
}

.slide:hover img {
	transform: translateX(100%); 
}

