/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font: 1em/1.5 'Open Sans', sans-serif;
	color: #373737;
	background: #eaeaea;
	margin: 0;
}
a {
	text-decoration: none;
}

h2,
h3 {

	text-transform: uppercase;
}
h2 {
	font-size: 1.125em;
	color: #4a89ca;
	font-weight: 600;
	margin: 0;
}
h3 {
	font-size: 1.3em;
	line-height: 1.25em;
	margin-top: .85em;
	margin-bottom: .5em;
}
h4 {
	margin: 0;
	padding: 10px;
	font-size: 1.3em;
}
p {
	font-size: .875em;
	line-height: 1.4;
	margin: 0 0 1.5em;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container {
	max-width: 1260px;
	background: #fff;
	
	margin: auto;
}
.main-header {
	padding: 1em 0;
	background: rgba(74,137,202, .8);
	margin: 0 0 20px 0;
	box-shadow: 0 4px 2px -2px gray;

}
.content {
	padding: 0 50px;
}
.photo-container {
	text-align: center;
	margin-bottom: 4em;
}
.original-pos {
	height: 100%;
	display: block;
	line-height: 0;
}

/* ---- Page Elements ---- */

.name {
	font-family: 'Pacifico';
	color: #fff;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	font-size: 3em;
	font-weight: 800;
	margin: 20px 0 0em 50px;
	line-height: 1;
	float: left;
}

.photo {
	position: relative;
	line-height: 1.3;
	margin-top: 2em;
	overflow: hidden;
}
.photo-container img {
 	max-width: 100%;
}

/* ---- Photo Overlay ---- */

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;

	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	background: rgba(0,0,0, .5);
}
.photo-overlay h3 {
	margin-top: 0;
}
.slide .button {
	color: #fff;
	padding: 20px 0;
	background: rgba(74,137,202, .8);
	margin: 0;
}
.slide .photo-overlay {
	opacity: 1;
	background: #f5ab35;
	background: #ec644b;

}

/* ---- Navigation Bar ---- */

.main-nav {
	margin-top: 40px;
}
.main-nav a {
	font-family: 'Arimo';
	color: #fff;
	font-size: 1.4em;
	margin: 50px 30px 0 0;
	line-height: 1;
}
.main-nav a:hover {
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

/* ---- Remove Photo Button ----*/
.myButton {
	background-color:#ec644b;
	
	border-radius:8px;
	cursor:pointer;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ec644b;
	box-shadow: 0 4px 2px -2px gray;
}

#remove:hover {
	background-color: #ef4836;
	text-shadow: none;
}

#add {
	background-color:#f5ab35;
	border-radius:8px;
	cursor:pointer;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d49125;
}
#add:hover {
	background-color: #f39c12;
	text-shadow: none;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 768px) {
	.container {
		padding: 0 1.225em 2.5em;
	}
}
@media (min-width: 769px) {
	
	.photo-container {
		width: 48%;
		float: left;
		margin-left: 4%;
	}
	.main-nav {
		float: right;
	}
	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}
}
@media (min-width: 769px) and (max-width: 1024px) { 
	.photo-container:nth-child(2n+1) {
		margin-left: 0;
		clear: left;
	}
}
@media (min-width: 1025px) { 
	.photo-container {
		width: 30.63973064%;
	}
	.photo-container:nth-child(3n+1) {
		margin-left: 0;
		clear: left;
	}
}